<div>
  <form class="d-flex gap-2 align-items-center justify-content-center mb-3">
    <div>
      <label for="inputField" class="col-form-label">Last:</label>
    </div>
    <div>
      <input [ngModelOptions]="{standalone: true}" type="number" id="inputField" class="form-control" placeholder="Input"
             [(ngModel)]="numberOfLoadVsDuels">
    </div>
    <div>
      <button (click)="onReloadVsDuels()" type="submit"
              class="btn btn-primary">{{ vsDuelsLoaded ? 'Reload' : 'load' }}
      </button>
    </div>
  </form>

  @if (vsDuelsLoaded) {
    <ag-charts [options]="options"></ag-charts>
  }

</div>
