<div class="container mt-3">
  <h2 class="text-center">Change password</h2>

  @if (changePasswordForm) {
    <form [formGroup]="changePasswordForm" class="mb-5">

      <!-- Input field for current password -->
      <div class="input-group has-validation mb-3">
        <div class="form-floating is-invalid">
          <input [ngClass]="{
          'is-invalid': f['currentPassword'].invalid && (f['currentPassword'].dirty || !f['currentPassword'].untouched),
          'is-valid': f['currentPassword'].valid
        }" [type]="isPasswordType ? 'password' : 'text'" autocomplete="on" class="form-control"
                 formControlName="currentPassword" id="currentPassword" placeholder="currentPassword">
          <label for="currentPassword">Current Password</label>
        </div>
        <!-- Eye icon to toggle password visibility -->
        <span class="input-group-text">
        <i (click)="isPasswordType = !isPasswordType"
           [ngClass]="isPasswordType ? 'bi bi-eye-fill' : 'bi-eye-slash-fill'"
           class="input-group-text eye-icon bi"></i>
      </span>
        <!-- Error message for current password field -->
        @if (f['currentPassword'].invalid && (f['currentPassword'].dirty || !f['currentPassword'].untouched )) {
          <div class="invalid-feedback">
            @if (f['currentPassword'].hasError('required')) {
              <p>Password is required</p>
            }
          </div>
        }
      </div>

      <!-- Input field for new password -->
      <div class="input-group has-validation mb-3">
        <div class="form-floating is-invalid">
          <input [ngClass]="{
          'is-invalid': f['newPassword'].invalid && (f['newPassword'].dirty || !f['newPassword'].untouched),
          'is-valid': f['newPassword'].valid
        }" [type]="isPasswordType ? 'password' : 'text'" autocomplete="on" class="form-control"
                 formControlName="newPassword"
                 id="newPassword" placeholder="newPassword">
          <label for="newPassword">New Password</label>
        </div>
        <!-- Eye icon to toggle password visibility -->
        <span class="input-group-text">
        <i (click)="isPasswordType = !isPasswordType"
           [ngClass]="isPasswordType ? 'bi bi-eye-fill' : 'bi-eye-slash-fill'"
           class="input-group-text eye-icon bi"></i>
      </span>
        <!-- Error messages for new password field -->
        @if (f['newPassword'].invalid && (f['newPassword'].dirty || !f['newPassword'].untouched )) {
          <div class="invalid-feedback">
            @if (f['newPassword'].hasError('required')) {
              <p>Password is required</p>
            }
            @if (!f['newPassword'].hasError('required')) {
              <div>
                <div [ngClass]="f['newPassword'].hasError('hasNumber') ? 'text-danger': 'text-success'">
                  <i
                    [ngClass]="f['newPassword'].hasError('hasNumber') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                  Must have at least 1 number!
                </div>
                <!-- Additional validation messages for new password -->
                <div [ngClass]="f['newPassword'].hasError('minlength') ? 'text-danger': 'text-success'">
                  <i
                    [ngClass]="f['newPassword'].hasError('minlength') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                  Must be at least 8 characters long!
                </div>
                <div [ngClass]="f['newPassword'].hasError('hasCapitalCase') ? 'text-danger': 'text-success'">
                  <i
                    [ngClass]="f['newPassword'].hasError('hasCapitalCase') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                  Must contain at least 1 in capital letters!
                </div>
                <div [ngClass]="f['newPassword'].hasError('hasSmallCase') ? 'text-danger': 'text-success'">
                  <i
                    [ngClass]="f['newPassword'].hasError('hasSmallCase') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                  Must contain at least 1 lowercase letter!
                </div>
                <div [ngClass]="f['newPassword'].hasError('hasSpecialCharacters') ? 'text-danger': 'text-success'">
                  <i
                    [ngClass]="f['newPassword'].hasError('hasSpecialCharacters') ? 'bi bi-x-square-fill' : 'bi bi-check-square-fill'"></i>
                  Must contain at least 1 special character!
                </div>
              </div>
            }
          </div>
        }

      </div>

      <!-- Input field for confirming new password -->
      <div class="input-group has-validation mb-3">
        <div class="form-floating is-invalid">
          <input [ngClass]="{
          'is-invalid': f['confirmPassword'].invalid && (f['confirmPassword'].dirty || !f['confirmPassword'].untouched),
          'is-valid': f['confirmPassword'].valid
        }" [type]="isPasswordType ? 'password': 'text'" autocomplete="on" class="form-control"
                 formControlName="confirmPassword"
                 id="confirmPassword" placeholder="confirmPassword">
          <label for="confirmPassword">Repeat password</label>
        </div>
        <!-- Eye icon to toggle password visibility -->
        <span class="input-group-text">
        <i (click)="isPasswordType = !isPasswordType"
           [ngClass]="isPasswordType ? 'bi bi-eye-fill' : 'bi-eye-slash-fill'"
           class="input-group-text eye-icon bi"></i>
      </span>
        <!-- Error messages for confirming new password field -->
        @if (f['confirmPassword'].invalid && (f['confirmPassword'].dirty || !f['confirmPassword'].untouched )) {
          <div class="invalid-feedback">
            @if (f['confirmPassword'].hasError('required')) {
              <p>Repeat password is required</p>
            }
            @if (f['confirmPassword'].hasError('passwordMismatch')) {
              <p>Passwords do not match</p>
            }
          </div>
        }
      </div>

      <!-- Buttons for canceling and submitting the form -->
      <div class="d-flex gap-3 justify-content-between">
        <button routerLink="/" class="btn btn-warning w-25" type="button">Cancel</button>
        <button (click)="onSubmit()" [disabled]="changePasswordForm.invalid" class="btn btn-success w-25" type="submit">Submit</button>
      </div>
    </form>
  }

</div>
