.custom-rating-icon {
  font-size: 1.5rem;
  padding-right: 0.1rem;
  color: #b0c4de; /* Standardfarbe */
}

.green {
  color: #28a745; /* Grün für Bewertung 5 */
}

.yellow {
  color: #ffc107; /* Gelb für Bewertung 4 */
}

.red {
  color: #dc3545; /* Rot für Bewertung < 4 */
}
