<div class="background">
  <div class="container">
    <div class="title">Last War - Player Management</div>
    <div class="login-box">
      <h2>Login</h2>
      <!-- Login form with Angular formGroup and submit event binding -->
      <form (ngSubmit)="onLogin()" [formGroup]="loginForm">

        <!-- Email input field with validation -->
        <div class="form-label-group">
          <div class="input-group">
            <!-- Email icon -->
            <i class="input-group-text bi bi-envelope-at-fill"></i>
            <!-- Email input control with dynamic classes for validation feedback -->
            <input [ngClass]="{'is-invalid': email?.invalid && (email?.dirty || email?.touched),'is-valid': email?.valid}"
                   class="form-control" formControlName="email" id="email" placeholder="Email Address" type="email">
            <!-- Email validation messages -->
            @if (email?.errors && (email?.dirty || email?.touched)) {
              <div class="invalid-feedback">
                @if (email?.hasError('required')) {
                  <p>Email address is required</p>
                }
                @if (email?.hasError('email')) {
                  <p>Please enter a valid email address</p>
                }
              </div>
            }
          </div>
        </div>

        <!-- Password input field with validation and toggle visibility -->
        <div class="form-label-group">
          <label class="form-label" for="password"></label>
          <div class="input-group">
            <!-- Password icon -->
            <i class="input-group-text bi bi-key-fill"></i>
            <!-- Password input control with dynamic classes for validation feedback and visibility toggle -->
            <input
              [ngClass]="{'is-invalid': password?.invalid && (password?.dirty || password?.touched),'is-valid': password?.valid}"
              [type]="isPasswordType ? 'password' : 'text'" autocomplete="on" class="form-control"
              formControlName="password" id="password" placeholder="Password">
            <!-- Eye icon to toggle password visibility -->
            <i (click)="isPasswordType = !isPasswordType"
               [ngClass]="isPasswordType ? 'bi bi-eye-fill' : 'bi-eye-slash-fill'" class="input-group-text eye-icon bi">
            </i>
            <!-- Password validation messages -->
            @if (password?.errors && (password?.dirty || password?.touched)) {
              <div class="invalid-feedback">
                @if (password?.hasError('required')) {
                  <p>Password is required</p>
                }
              </div>
            }
          </div>
        </div>

        <!-- Forgot password link -->
        <div class="mt-3">
          <div class="text-center">
            <p (click)="onForgotPassword()" class="custom-link">Forgot your password?</p>
          </div>
        </div>

        <div class="mt-3">
          <div class="text-center">
            <p (click)="onSignUp()" class="custom-link">Don’t have an account? Sign up</p>
          </div>
        </div>

        <!-- Login button, disabled if form is invalid -->
        <button [disabled]="loginForm.invalid" class="btn" type="submit">
          <i class="bi bi-box-arrow-in-right"></i> Log In
        </button>
      </form>
    </div>
  </div>

  <footer class="footer">
    <span class="small">&copy; {{currentYear}} Tomasi-Developing</span>
    <span class="small">Version: <span class="text-primary">{{version}}</span></span>
  </footer>
</div>
