<div class="container mt-3 pb-5">
  <h2 class="text-center">Custom Event</h2>

  <ul #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs" ngbNav>
    <li [ngbNavItem]="1">
      <button ngbNavLink>Events</button>
      <ng-template ngbNavContent>
        <app-custom-event-events></app-custom-event-events>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>Category</button>
      <ng-template ngbNavContent>
        <app-custom-event-category></app-custom-event-category>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Leaderboard</button>
      <ng-template ngbNavContent>
        <app-custom-event-leaderboard></app-custom-event-leaderboard>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
