@if (forgotPasswordForm) {
  <div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h4 class="modal-title">Forgot Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>

  <div class="modal-body">
    @if (!showSendMessage) {
      <form [formGroup]="forgotPasswordForm">
        <div class="form-floating mb-3 is-invalid">
          <input [ngClass]="{
        'is-invalid': f['email'].invalid && (f['email'].dirty || f['email'].touched),
        'is-valid': f['email'].valid}"
                 type="email" class="form-control" id="email" placeholder="email" formControlName="email">
          <label for="email">Email</label>
          @if (f['email'].invalid && (f['email'].dirty || f['email'].touched)) {
            <div class="invalid-feedback">
              @if (f['email'].hasError('required')) {
                <p>Email is required</p>
              }
              @if (f['email'].hasError('email')) {
                <p>Invalid email address</p>
              }
            </div>
          }
        </div>
      </form>
    } @else {
      <div class="card border-success mt-5">
        <div class="card-header text-center">
          Password Reset Request
        </div>
        <div class="card-body">
          <h5 class="card-title">Request Submitted!</h5>
          <p class="card-text">
            If the email address you provided is registered with us, you will receive an email shortly with instructions to reset your password.
          </p>
          <p class="card-text">
            Please check your inbox and follow the instructions in the email to set a new password.
          </p>
          <p class="card-text">
            If you don’t see the email in your inbox, make sure to check your spam or junk folder as well.
          </p>
        </div>
      </div>
    }

  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="activeModal.dismiss()">Close</button>
    @if (!showSendMessage) {
      <button [disabled]="forgotPasswordForm.invalid" (click)="onSubmit()" type="submit" class=" btn btn-success">Submit</button>
    }
  </div>
}



